.card {
  background: #fff;
  height: 160px;
  margin: 1rem;
  position: relative;
  width: 250px;
  box-shadow: 3px 2px 6px rgb(54, 54, 54);
  text-align: left;
  cursor: pointer;
  border: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: black;
}

.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}
